<div id="total_header">
  <div id="header">
    <div id="logo">
      <%= image_tag("acebook_logo.png") %>
    </div>
    <div id="title">
      <h1>Welcome to Acebook</h1>
    </div>
    <div id="logs">

      <% if logged_in? %>
        <%= link_to "Home", posts_path %>
        <%= link_to "#{session[:user]["name"]}", "/users/#{session[:user]["name"]}" %>
        <%= link_to "Log Out", session_path %>
      <% else %>
        <%= link_to "Log In", new_session_url %>
      <% end %>

    </div>
  </div>
  <div id="create-new-post"></div>
</div>
